/*css 기초 작업 시작*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'GmarketSansMedium';
}

* {
	margin: 0;
	padding: 0;
}

ol, ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover{
	cursor: pointer;
}
.flex{
	display: flex;
}
.center {
	text-align: center;
}
.img-box>img{
	display: block;
	width: 100%;
}
/*css 기초 작업 끝*/
.con {
	margin: 0 auto;
	max-width: 1450px;
}
/*메인화면 시작*/
/*nav 시작*/
.header{
	position: relative;
}
ul>li {
	display: inline-block;
}
.logo{
	width: 60px;
	height: 70px;
	display: flex; 
	align-items: center;
	margin: 10px 0;
}
.nav{
	justify-content: space-between;
	text-align: center;
	align-items: center;
}
.logo>img{
	display: block;
	width: 100%;
}
.header{
	position: relative;
}
.nav-ul>li>a {
	display: inline-block;
	padding: 0 25px;
	font-size: 20px;
	color: white;
}
.nav-ul>li>a:hover{
	color: #00A0A0;
}
.nav-a{
	font-size: 24px;
	margin-left:10px;
	align-items: center;
	display: flex;
	color: white;
}
.right-box{
	color: white;
}
/*nav 끝*/
/*visual 시작*/
.visual{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	
}
.visual-1{
	position: relative;
}
.visual-title{
	position: absolute;
	top: 70%;
	left: 50%;
	transform:translate(-50%,-50%);
}
/*visual 끝*/
/*메인화면 끝*/
/*회원가입 시작*/

.btn {
	display: inline-block;
	width: 80px;
	text-align: center;
	background-color: green;
	color: #fff;
}
.signUpForm-1{
	display: inline-block;
	padding: 50px;
}
.signUp-ul>li{
	display: block;
}
.signUp-ul{
	text-align: left;
}
.form-title{
	text-align: center;
	font-size: 40px;
}
/*회원가입 끝*/